.mobile_image {
  width: 100vw;
}

.heading {
  color: rgb(61, 60, 60);
  font-family: "Roboto";
  font-size: 40px;
  font-weight: bold;
}

.listt {
  color: rgb(78, 76, 76);
}

.button {
  color: white;
  font-family: "Roboto";
  height: 38px;
  width: 128px;
  margin: 2px;
}

.content {
  padding: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.list_items_space {
  color: #0a1f44;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}
