.quiz-question-container {
  background-color: #875fc0;
  padding: 24px;
}

.score {
  text-align: right;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}

.question-container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
}

.question-number {
  color: #1f2933;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
}

.question-text {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 14px;
}

.question-image {
  width: 240px;
}

.options-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.options-list {
  list-style-type: none;
  padding: 0px;
}

.option {
  color: #323f4b;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border-style: solid;
  border-width: 1px;
  border-color: #323f4b;
  border-radius: 8px;
  padding: 13px;
  margin: 10px;
}

.correct-option {
  color: #ffffff;
  background-color: #875fc0;
}

.button {
  color: #ffffff;
  background-color: #fbaf00;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  width: 98px;
  height: 38px;
  border-width: 0px;
  border-radius: 8px;
}
